<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All comments</title>
    <link rel="stylesheet" href="styles.css"> <!-- WORKS !-->
</head>

<body>
    <div id="container">
        <h1 id="headline">Rezensionen und Reviews: </h1>
        <ul>
            <% for(let comment of comments){ %>
                <li>
                    <a href="http://localhost:3000/comments/<%=comment._id%>">
                        <%=comment.comment%>
                    </a> - <b>
                        <%=comment.writer%>
                    </b> <i>
                        <%=comment.dateOfEntry %>
                    </i>
                </li>
                <% } %>
        </ul>
        <button><a href="/comments/newcomment">Add new comment</a></button>
    </div>
</body>

</html>