<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All comments</title>
</head>

<body>
    <h1>Comments:</h1>
    <ul>
        <% for(let comment of comments){ %>
            <li>
                <%=comment.comment%> - <b><%=comment.writer%></b> <i><%=comment.dateOfEntry %></i>
            </li>
            <% } %>
    </ul>
    <a href="http://localhost:3000/comments/newcomment"><button>Add comment</button></a>
</body>

</html>