<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new comment</title>
</head>

<body>
    <h1>Add new comment</h1>
    <form action="/comments" method="post">
        <section>
            <textarea name="comment" col="30" row="5" id="comment" placeholder="add comment"></textarea>
        </section>
        <section>
            <label for="writer"writer</label>
            <input type="text" name="writer" id="writer">
        </section>
        <button type="submit">Submit</button>
    </form>
    <a href="http://localhost:3000/comments"><button>Back to Comments</button></a>
</body>

</html>