<%- include('partials/header.ejs') %>

    <body>
        <div id="container">
            <h1 id="headline">Startseite</h1>
            <button><a href="http://localhost:3000/comments">GO TO COMMENTS SECTION</a></button>
        </div>
    </body>

    </html>